  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
  <% } %>
</head>
<body>
  <nav>
    <a class="nav" href="/parts">Start building!</a>
    <a class="nav" href="/parts/new">All Pcs</a>
    <a class="nav" href="/profiles">Users</a>
    <a class="nav" href="/">Home</a>
    <% if (user) { %>
      <a href="/auth/logout">
        <button class="logout" type="submit">Logout</button>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
