  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <% } %>
</head>
<body>
  <nav>
    <a class="nav" href="/parts"><i class="fa-solid fa-screwdriver-wrench"></i></a>
    <a class="nav" href="/parts/new"><i class="fa-solid fa-computer"></i></a>
    <a class="nav" href="/profiles"><i class="fa-solid fa-users"></i></a>
    <a class="nav" href="/"><i class="fa-solid fa-house-chimney"></i></a>
    <% if (user) { %>
      <a href="/auth/logout">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
  </nav>
