.main {
  display: flex;
  justify-content: center;
}

.cardContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
  max-width: 1600px;
}

.text-decoration-none {
  text-decoration: none;
}

.card {
  display: flex;
  width: 300px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  color: black;
  padding: 10px;
}

.card > img {
  border-radius: 10px;
  height: 96px;
}

.card-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 24px;
  margin: 0 10px;
}

.nav{
  background-color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

nav{
  background-color: #333;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: whitesmoke;
}

.logout{
  margin-left: 100px;
  background-color: #333;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}