.name{
  color: white;
  font-family: 'Poppins', sans-serif;
}

.bg-text {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4); 
  color: whitesmoke;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: relative;
  font-family: 'Poppins', sans-serif;
  
}

.nav:hover{
  opacity: 0.5;
  height: 20px;
}

.pc-h2{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

.all-pc-page-show{
  background-image: url(../images/auth/google/Back-Drop-5.jpeg);
  background-size: cover;
  background-position: 20% 20%;
}