.header{
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  margin-bottom: 0;
  padding-bottom: 10px;
  background-color: rgba(51, 51, 51, 0.238);
}

.header-title{
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  font-size: 35px;
}

.header-parts{
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  font-size: 20px;
}

.header-name{
  display: grid;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

.btn-edit-show{
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  margin-top: 0;
  padding-bottom: 30px;
  flex-grow: 1;
  /* border-bottom: 2px solid white; */
  border-bottom-style:dashed;
  background-color: rgba(51, 51, 51, 0.238);
}


.btn-edit-show-btn{
  background-color: #333;
  color: whitesmoke;
  border: 0;
  border-radius: 50px;
  height: 70px;
  width: 80px;
  transition: all 0.15s ease-out;
  margin-top: 0px;
  font-family: 'Poppins', sans-serif;
}

.btn-edit-show-btn:hover{
  background-color: whitesmoke;
  color: #333;
  cursor: pointer;
}

.btn-delete-show-btn{
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: red;
  background-color: whitesmoke;
  border-radius: 50px;
  border: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  transition: all 0.15s ease-out;
}

.btn-delete-show{
  display: grid;
  justify-content: center;
  align-items: center;
}

.btn-delete-show-btn:hover{
  background-color: #333;
  cursor: pointer;
}

.review{
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

.review-content{
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
}

.review-content-review{
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  background-color: rgba(51, 51, 51, 0.361);
  border-radius: 35px;
  margin-bottom: 10px;
  margin-top: 10px;
  width: auto;
}

.delete-review-btn{
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.background{
  background-image: url(../images/auth/google/Back-Drop-6.jpeg);
  background-position: 100% 100%;
  background-size: cover;
  background-color: rgba(51, 51, 51, 0.324);
}

.post-btn{
  margin-top: 10px;
  background-color: #333;
  color: whitesmoke;
  border: 0;
  border-radius: 50px;
  transition: all 0.15s ease-out;
  font-family: 'Poppins', sans-serif;
}

.post-btn:hover{
  background-color: whitesmoke;
  color: #333;
  cursor: pointer;
}

.review-text-area{
  background-color: #333;
  color: whitesmoke;
  font-family: 'Poppins', sans-serif;
}
