<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="" method="">
    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input">
    <label for="case-input">Case:</label>
    <input type="text" name="case" id="case-input">
    <label for="graphic-select">Graphics Card:</label>
    <select name="graphic" id="graphic-select">
      <option value="NVIDA GTX 3090Ti">NVIDA GTX 3090Ti</option>
      <option value="NVIDA GTX 3090">NVIDA GTX 3090</option>
      <option value="NVIDA GTX 3080Ti">NVIDA GTX 3080Ti</option>
      <option value="NVIDA GTX 3080">NVIDA GTX 3080</option>
      <option value="NVIDA GTX 3070Ti">NVIDA GTX 3070Ti</option>
      <option value="NVIDA GTX 3070">NVIDA GTX 3070</option>
      <option value="NVIDA GTX 3060Ti">NVIDA GTX 3060Ti</option>
      <option value="NVIDA GTX 3060">NVIDA GTX 3060</option>
      <option value="NVIDA GTX 2080Ti">NVIDA GTX 2080Ti</option>
      <option value="NVIDA GTX 2080">NVIDA GTX 2080</option>
      <option value="NVIDA GTX 1080Ti">NVIDA GTX 1080Ti</option>
      <option value="NVIDA GTX 1080">NVIDA GTX 1080</option>
    </select>
    <label for="motherbo-select">Mother Board:</label>
    <select name="motherbo" id="motherbo-select">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>
    <label for="storage-select">Storage:</label>
    <select name="storage" id="storage-select">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>
    <label for="psu-select">PSU:</label>
    <select name="psu" id="psu-select">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>
    <label for="ram-select">RAM:</label>
    <select name="ram" id="ram-select">
      <option value="G">G</option>
      <option value="PG">PG</option>
      <option value="PG-13">PG-13</option>
      <option value="R">R</option>
    </select>
    <button type="submit">Add Finalized PC</button>
  </form>
</main>

<%- include('../partials/footer') %>