<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/home.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <form id="new-form" action="/parts" method="POST">
    <label for="title-input">Title:</label>
    <input type="text" name="title" id="title-input">

    <label for="case-input">Case:</label>
    <select name="case" id="case-select">
      <option value="Cooler-Master-Cosmos">Cooler Master Cosmos C700P</option>
      <option value="Corsair-Carbide">Cosair Carbide 275R</option>
      <option value="NZXT-H1">NZXT H1 V2</option>
      <option value="Phanteks">Phanteks Evolv X</option>
      <option value="Corsair iCUE">Corsair iCUE 5000T RGB</option>
      <option value="Cooler-Master-Silenco">Cooler Master Silencio S600</option>
      <option value="Corsair-Obsidian">Corsair Obsidian 1000D</option>
      <option value="Dark-Base">Dark Base Pro 9000</option>
      <option value="Lian">Lian-Li PC-011 Dynamic</option>
      </select>

    <label for="graphic-select">Graphics Card:</label>
    <select name="graphic" id="graphic-select">
      <option value="NVIDA GTX 3090Ti">NVIDA GTX 3090Ti</option>
      <option value="NVIDA GTX 3090">NVIDA GTX 3090</option>
      <option value="NVIDA GTX 3080Ti">NVIDA GTX 3080Ti</option>
      <option value="NVIDA GTX 3080">NVIDA GTX 3080</option>
      <option value="NVIDA GTX 3070Ti">NVIDA GTX 3070Ti</option>
      <option value="NVIDA GTX 3070">NVIDA GTX 3070</option>
      <option value="NVIDA GTX 3060Ti">NVIDA GTX 3060Ti</option>
      <option value="NVIDA GTX 3060">NVIDA GTX 3060</option>
      <option value="NVIDA GTX 2080Ti">NVIDA GTX 2080Ti</option>
      <option value="NVIDA GTX 2080">NVIDA GTX 2080</option>
      <option value="NVIDA GTX 1080Ti">NVIDA GTX 1080Ti</option>
      <option value="NVIDA GTX 1080">NVIDA GTX 1080</option>
      <option value="NVIDA GTX 1070Ti">NVIDA GTX 1070Ti</option>
      <option value="NVIDA GTX 1070">NVIDA GTX 1070</option>
      <option value="NVIDA GTX 1660Ti">NVIDA GTX 1660Ti</option>
      <option value="NVIDA GTX 1660">NVIDA GTX 1660</option>
    </select>
    <label for="motherbo-select">Mother Board:</label>
    <select name="motherbo" id="motherbo-select">
      <option value="Gigabyte Z690 Aorus Pro">Gigabyte Z690 Aorus Pro</option>
      <option value="MSI MEG Z690I Unify">MSI MEG Z690I Unify</option>
      <option value="Gigabyte Aorus Z690 Tachyon">Gigabyte Aorus Z690 Tachyon</option>
      <option value="Asus ROG Strix B660-I Gaming WIFI">Asus ROG Strix B660-I Gaming WIFI</option>
      <option value="Asus Prime H610M-A D4">Asus Prime H610M-A D4</option>
      <option value="Asus ROG Maximus XIII Hero">Asus ROG Maximus XIII Hero</option>
      <option value="Asus ROG Maximus XIII Extreme Glacial (White)">Asus ROG Maximus XIII Extreme Glacial (White)</option>
      <option value="Gigabyte X299X Designare 10G">Gigabyte X299X Designare 10G</option>
      <option value="Asus ROG Crosshair VIII Extreme">Asus ROG Crosshair VIII Extreme</option>
      <option value="Asus X570 ROG Crosshair VIII Hero WIFI">Asus X570 ROG Crosshair VIII Hero WIFI</option>
      <option value="Gigabyte X570 Aorus Ultra">Gigabyte X570 Aorus Ultra</option>
      <option value="Asus ROG Strix B550-F Gaming WIFI">sus ROG Strix B550-F Gaming WIFI</option>
    </select>
    <label for="storage-select">Storage:</label>
    <select name="storage" id="storage-select">
      <option value="5-TB-SSD">5TB SSD</option>
      <option value="2-TB-SSD">2TB SSD</option>
      <option value="1-TB-SSD">1TB SSD</option>
      <option value="10-TB-HDD">10TB HHD</option>
      <option value="8-TB-HDD">8TB HDD</option>
      <option value="5-TB-HDD">5TB HDD</option>
      <option value="2-TB-HDD">2TB HDD</option>
      <option value="1-TB-HDD">1TB HDD</option>
    </select>
    <label for="psu-select">PSU:</label>
    <select name="psu" id="psu-select">
      <option value="Cooler-Master-MasterWatt">Cooler Master MasterWatt-1200W</option>
      <option value="Corsair-AXi-860">Corsair AXi-860W</option>
      <option value="Corsair-AXi-760">Corsair AXi-760W</option>
      <option value="Corsair-Vengence-750">Corsair Vengence 750W</option>
      <option value="Corsair-Vengence-650">Corsair Vengence 650W</option>
      <option value="Corsair-SF-600">Corsair SF 600W</option>
      <option value="Corsair-SF-450">Corsair SF 450W</option>
    </select>
    <label for="ram-select">RAM:</label>
    <select name="ram" id="ram-select">
      <option value="GSkill-Trident-Z5">G.Skill Trident Z5 *RGB* DDR5-6000Mhz (2 x 16GB)</option>
      <option value="Samsung-DDR5-4800">Samsung DDR5-4800Mhz (2 x 16GB)</option>
      <option value="TeamGroup-T">TeamGroup T-Force Xtreem DDR4-3600Mhz (2 x 8GB)</option>
      <option value="Patriot-Viper">Patriot Viper Steel DDR4-4400Mhz (2 x 8GB)</option>
      <option value="Patriot-Viper-RGB">Patriot Viper *RGB* DDR4-3600Mhz (2 x 8GB)</option>
      <option value="Patriot-Viper-4">Patriot Viper 4 DDR4-3400Mhz (2 x 8GB)</option>
      <option value="Corsair-V-RGB">Corsair Vengence *RGB* Pro DDR4-3200Mhz (4 x 8GB)</option>
    </select>
    <button type="submit">Add Finalized PC</button>
  </form>
</main>

<%- include('../partials/footer') %>